<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">
    <appenders>
        <!--输出到控制台-->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss.SSS} %t [%p] %c{1} (%F:%L) %msg%n"/>
        </Console>
    </appenders>

    <loggers>
        <logger name="java.sql" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <logger name="org.springframework.orm" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <logger name="com.dianping.baby.card" level="info" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <logger name="org.apache.zookeeper.ZooKeeper" level="warn" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <root level="warn">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>